*{
    margin: 0;
    padding: 0;
}

.header{
    height: 80px;
}

.header ul {
    background: rgb(38, 93, 222);
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.header ul li {
    display: inline-block;
    height: 80px;
    width: 150px;
    line-height: 80px;
}   

.header ul li a {
    color: #f1f1f1;
    text-decoration: none;
    display: block;
    font-size: 17px;
}

.header ul li a:hover{
    background: #f1f1f1;
    color: #333;
}